*.patch
*_stdafx.[ch]
*_project.h
*.mak
*.a
GNUmakefile
/build/
/release/
/spectool/spec.xml
*.exe

*.config
*.creator
*.files
*.includes
*.user

*.sln
*.vcproj
*.vcxproj
*.filters
*.vs
*.VC.db
/spectool/libmatroska
/spectool/libmatroska2
