*.patch
*_stdafx.[ch]
*_project.h
*.mak
*.a
GNUmakefile
/build/
/release/
/spectool/spec.xml
*.exe

*.config
*.creator
*.files
*.includes
*.user

*.sln
*.vcproj
*.vcxproj
*.filters
*.vs
*.VC.db
/spectool/libmatroska
/spectool/libmatroska2

mkclean/mkclean-*.tar.bz2
mkclean/mkclean-*.zip
mkvalidator/mkvalidator-*.tar.bz2
mkvalidator/mkvalidator-*.zip
*.compiled
*.br.br
*.sh.sh
